/*
Theme Name: StanleyWP
Theme URI: http://gentsthemes.com
Description: Responsive WordPress theme with all the Twitter Bootstrap elements and features.

Author: Brad Williams & Carlos Alvarez & Carlos Alvarez
Author URI: http://gentsthemes.com
Version: 3.0.3
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready, bootstrap, twitter

Copyright (C) 2011-2014 Gents Themes
License: GNU General Public License, version 3 (GPLv3)
License URI: license.txt
	
CREATE CHILD THEME.
See: http://codex.wordpress.org/Child_Themes
	
CSS Rules: Sorted alphabetically for better organization.
*/



body {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;  
	background: url(images/bg.jpg) repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width:800px;
	color: #555;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

/* Titles */
h1, h2, h3, h4, h5, h6 { color: #333; font-family: 'Montserrat', sans-serif; font-weight: 700; }

h1 { font-size: 35px; margin-bottom: 30px; margin-top: 30px; }

.author-avatar img { -webkit-border-radius: 95px; -moz-border-radius: 95px; border-radius: 95px; }


/* Paragraph & Typographic */
p { font-size: 16px; line-height: 28px; margin-bottom: 25px; }

.centered { 
text-align: center; 
background-color: #FFFFFF;
box-shadow: -5px 0px 10px black;
padding-top: 50px;
}

/* Links */
a {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	color: #1abc9c;
	transition: color 0.1s ease-in, background 0.1s ease-in;
	word-wrap: break-word;
}

a:hover,
a:focus { color: #7b7b7b; outline: 0; text-decoration: none; }

a:before,
a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

/*----------NAVIGATION BAR----------*/
@media (min-width: 1200px) {
    #logoholder {
        background: url(images/RavLogoYellowFrame.png) center no-repeat;
        background-size: contain;
        height: 100px;
        width: 145px;
        position: absolute;
        top: inherit;
        left: 44.5%;
        z-index: 3000;
        margin-top: -2%;
        display: block;
    }
}

@media (min-width: 1200px) {
    #filler {
        background-color: white;
        height: 50px;
        width: 66.666666%;
        content: "";
        margin-right: auto;
        margin-left: auto;
    }
}

.navbar{
  margin-bottom: 0px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
    .navbar .container {
        width: 849px;
        margin-left: 15px;
    }
}

@media (min-width: 1200px) {
    .navbar-inverse {
        width: 849px;
        margin-left: auto;
        margin-right: auto;
    }
}
.navbar-inverse { 
background-color: #ffcc00; 
border-color: #ffcc00; }

.navbar-inverse .navbar-nav > li > a { color: white; }

.navbar-inverse .navbar-nav > li > a:hover { color: #222222; }

.navbar-brand { font-size: 20px; font-weight: 700; letter-spacing: 2px; }

.navbar-inverse .navbar-brand { color: white; }

.navbar-inverse .navbar-toggle { border-color: transparent; }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover { background-color: transparent; color: #222222; }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { background-color: transparent; color: #222222; }

.progress-bar-theme { background-color: #1abc9c; }

.navbar-collapse:after{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: 100%;
    margin-top: 1px;
    border-width: 0 0 38px 35px;
    border-style: solid;
    border-color: transparent transparent transparent #ed7800;
}

.navbar .container:after{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 100%;
    margin-top: 1px;
    border-width: 0 35px 38px 0;
    border-style: solid;
    border-color: transparent #ed7800 transparent transparent;
}
/*-------Styling the Menu to include Logo-------*/
ul#menu-main-menu li.menu-item:nth-child(3),
ul#menu-main-menu li.menu-item:nth-child(4) {
 display: block;
}

ul#menu-main{
    width: 100%;
}

li#menu-item-26{
    margin-right: 10%;
}

li#menu-item-13 {
    margin-left: 10%;
}



/* Helpers */

mt { 
    margin-bottom: 10px; 
    margin-top: 10px;
     
    
}

pt { 
    padding-bottom: 10px; 
    padding-top: 10px; 
    width: inherit; 
}


/* +++++ WRAP SECTIONS +++++ */

/*#ww { background-color: #f2f2f2; padding-bottom: 70px; padding-top: 70px; }*/


#footer { background-color: #FFFFFF; padding-bottom: 50px; padding-top: 50px;
}

#footer #copy{
display:inline;
padding-right:10px;
}

#footer #kontakt-os{
display:inline;
}

#footer #tlf{
display:inline;
padding-right:5px;
}

#footer #mail{
display:inline;
font-size: 10px;
}

#footer p { color: black; 
font-size: 12px;
line-height: 14px;
}

#footer h4 { color: black; padding-bottom: 10px; text-transform: uppercase; }


/* +++++ Color Wraps / Blog Page +++++ */

#grey { background-color: #f2f2f2; padding-bottom: 60px; padding-top: 60px; }

#white { background-color: #ffffff; padding-bottom: 60px; padding-top: 60px; }



/* Blog Date*/
bd {
	color: #d2d2d2;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

/* Blog Author*/
ba { font-size: 12px; padding-left: 5px; text-transform: uppercase; }

/* Blog Quote */
.bq { font-size: 22px; padding-top: 30px; }

/* Blog Tags */
bt { font-size: 12px; }

/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
/*::::::::::::::::THIS IS ALSO THE CURRENT OFFERS SECTION::::::::::::::*/
#Tilbud_banner{
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    background-image: url(images/line_bg.png);
    background-size: contain;
    background-repeat: repeat-x;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-left: -3px;
    background-position: center
}

#Tilbud_banner h1{
    font-size: 20px;
    background: white;
    width: 195px;
    position: relative;
    left: 28px;
    padding-left: 5px;

}

.zoom {
	background: transparent url(images/loader.gif) no-repeat center;
	display: block;
	overflow: hidden;
	position: relative;
}

	.zoom img { display: none; }

		.zoomOverlay {
			background-image: url(images/zoom.png);
			background-position: center;
			background-repeat: no-repeat;
			bottom: 0;
			display: none;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

.zoom2 { opacity: 1; }

.zoom2:hover { opacity: 0.5; }

/*==========IMAGE SLIDER ON FRONT PAGE=============*/


/*=========WHAT'S DIRECTLY UNDER SLIDER=============*/
#search_products{
    width: 56%;
    background-image: url(images/arrow_right_yellow.png);
    background-size: contain;
    color: white;
    margin-left: -15px;
    margin-right: -32px;
    float: left;
    background-repeat: no-repeat;
    height: 54px;
}
#search_text{
    float: left;
    width: 35px;
    height: 54px;
    text-align: center;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    border-right: white solid 1px;
}

#search_products form {
        padding-top: 11px;
        width: 360px;
}

#search_products .btn {
    padding: 3px;
}

#login_box{
    width: 50.3%;
    background-image: url(images/arrow_left_yellow.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    margin-right: -15px;
    float: right; 
    height: 54px;
}

#login_box a{
    color: white;
    position: relative;
    top: 25%;
}


/* glyphicon Configuration */

.glyphicon { color: #1abc9c; font-size: 40px; }

/* WP User Avatar */

.wp-user-avatar {margin: 0;}

/*Custom Modifications which can override some of bootstrap's legacy css*/
